<html lang="en">
<head>
  <% include ../partials/navbar %>
    <% include ../partials/head %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/aboutme.css"/>
	
    <h1> Hello! </h1>
</head>

</html>