<html lang="en">
<head>
  <% include ../partials/navbar %>
    <% include ../partials/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Are you cool??</h1>
  </div>

  <center>
  <p id="demo">
	~cool~ and ~unique~
  </p>

  <button class="btn btn-default" type="button" onclick="myFunction()">
    sah dude
  </button>
  
  <button class="btn btn-default" type="button" onclick="button2()">
    nah bro
  </button>
  
  <div id="cool-image"/>
</center>
</body>

</html>